.drawerToggle{width:35px;}
.drawerToggle span{display:block;background-color: #fff;height:2px;margin-bottom:10px;}
.drawerToggle span:last-child{margin-bottom: 0;}

@media(min-width:768px){

    .drawerToggle{display: none;}
}