.Person{border:1px solid #ccc;background-color: #ccc;padding:10px;margin:20px auto;position:relative;width:50%;text-align: center;}
.close{position: absolute;top:-1px;right:-1px;padding:5px;background-color: #fff;}
.toggleBtn{background:#00f;color: #fff;border:0;padding:8px;}

@media(max-width:767px){
.Person{width:80%}

}

.black, .toggleBtn{background:#00f;color: #fff;border:0;padding:8px;}
.black{background-color: #000;}

